<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Invest</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/logo.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../static/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="home.html" class="logo d-flex align-items-center">
        <img src="../static/img/logo.png" alt="">
        <span class="d-none d-lg-block">Creator Capital</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->
        <div class="deposit-money" style="margin-right: 10px;">
          <a href="deposit.html" class="btn btn-primary">Deposit Money</a>
        </div>
        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Transfer In Progress</h4>
                <p>Your instant transfer of $40.00 from your Visa Debit Card ending in 1298 was deposited into your
                  account.</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Order Declined - Mr. Beast Production Company</h4>
                <p>Your order to buy $40.00 of MBPC has been DECLINED due to insufficient funds in your account.</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Approved - Mr. Beast Production Company</h4>
                <p>Hooray! Your order to buy $40.00 of MBPC has been approved throught your account at the best
                  available price. If this order isn't filled by the end of market hours today (4:00 PM EST), it will
                  expire.</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Account Information</h4>
                <p>Please Verify Your Email Address</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->



        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="../static/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">J. Smith</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>John Smith</h6>
              <span>Investor</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>


            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-login.html">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="home.html">
          <i class="bi bi-grid"></i>
          <span>Portfolio</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="invest.html">
          <i class="bi bi-currency-dollar"></i>
          <span>Invest</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="about_us.html">
          <i class="bi bi-people"></i>
          <span>About Us</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="contact.html">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>

      </li><!-- End Tables Nav -->






      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="referrals.html">
          <i class="bi bi-card-list"></i>
          <span>Referrals</span>
        </a>
      </li><!-- End Register Page Nav -->






  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Invest</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="home.html">Home</a></li>
          <li class="breadcrumb-item active">Invest</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Search</h5>

            <!-- General Form Elements -->
            
            <form
                      class="row g-3 needs-validation"
                      action="template.html"
                      method="POST"
                      novalidate
                    >
                      <!--
                      <div class="col-12">
                        <label for="yourUsername" class="form-label"
                          >Username</label
                        >
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend"
                            >@</span
                          >
                          <input
                            type="text"
                            name="username"
                            class="form-control"
                            id="yourUsername"
                            required
                          />
                          <div class="invalid-feedback">
                            Please enter your username.
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="yourPassword" class="form-label"
                          >Password</label
                        >
                        <input
                          type="password"
                          name="password"
                          class="form-control"
                          id="yourPassword"
                          required
                        />
                        <div class="invalid-feedback">
                          Please enter your password!
                        </div>
                      </div>
                      -->
                      <div class="col-12">
                        <label for="searchInput" class="form-label"
                          >Search</label
                        >
                        <input
                          type="tel"
                          class="form-control"
                          name="searchInput"
                          id="searchInput"
                          placeholder="Enter Creator"
                          required
                        />

                        <div class="invalid-feedback">
                          Please enter a valid creator.
                        </div>
                      </div>

                      
                      <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">
                          Enter
                        </button>
                      </div>
                      <!--
                      <div class="col-12">
                        <p class="small mb-0">
                          Don't have account?
                          <a href="pages-register.html">Create an account</a>
                        </p>
                      </div>
-->
                    </form>
            
            <!-- <script>
              function search() {
                const searchInput = document.getElementById('searchInput').value.trim();
                const creatorList = document.getElementById('creatorList');
                const selectedCreator = creatorList.options[creatorList.selectedIndex].value;
            
                if (searchInput === '' && selectedCreator !== 'Choose a Creator') {
                  window.location.href = selectedCreator;
                } else if (searchInput !== '') {
                  // Redirect to search results page based on searchInput
                  window.location.href = 'search.html?q=' + encodeURIComponent(searchInput);
                } else {
                  // Do nothing if both search input and dropdown selection are empty
                }
              }
            </script> -->
            
            <script>
            function redirect() {
              var creatorList = document.getElementById("creatorList");
              var selectedValue = creatorList.options[creatorList.selectedhome].value;
              if (selectedValue != "") {
                window.location.href = selectedValue;
              }
            }
            </script>
              <section class="section dashboard">
                <div class="row">
                  <!-- Top Stocks -->
                  <div class="col-12">
                    <div class="card top-selling overflow-auto">

                      <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                          </li>

                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                      </div>

                      <div class="card-body pb-0">
                        <h5 class="card-title">Top Creators <span>| Today</span></h5>

                        <table class="table table-borderless">
                          <thead>
                            <tr>
                              <th scope="col">Preview</th>
                              <th scope="col">Creator</th>
                              <th scope="col">Price</th>
                              <th scope="col">Active Projects</th>
                              <th scope="col">Creator Ticker</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row"><a href="mr_beast.html"><img src="../static/img/beast.png" alt=""></a></th>
                              <td><a href="mr_beast.html" class="text-primary fw-bold">Mr.Beast</a></td>
                              <td>$10.00</td>
                              <td class="fw-bold">12</td>
                              <td>MBPC</td>
                            </tr>
                            <tr>
                              <th scope="row"><a href="charli.html"><img src="../static/img/damelio.png" alt=""></a></th>
                              <td><a href="charli.html" class="text-primary fw-bold">Charli Damelio</a></td>
                              <td>$9.60</td>
                              <td class="fw-bold">28</td>
                              <td>CDC</td>
                            </tr>
                            <tr>
                              <th scope="row"><a href="justin_bieber.html"><img src="../static/img/bieber.png" alt=""></a>
                              </th>
                              <td><a href="justin_bieber.html" class="text-primary fw-bold">Justin Bieber</a></td>
                              <td>$9.29</td>
                              <td class="fw-bold">2</td>
                              <td>JBM</td>
                            </tr>
                            <tr>
                              <th scope="row"><a href="logan_paul.html"><img src="../static/img/paul.png" alt=""></a></th>
                              <td><a href="logan_paul.html" class="text-primary fw-bold">Logan Paul</a></td>
                              <td>$9.19</td>
                              <td class="fw-bold">18</td>
                              <td>LPLLC</td>
                            </tr>
                            <tr>
                              <th scope="row"><a href="the_rock.html"><img src="../static/img/rock.png" alt=""></a></th>
                              <td><a href="the_rock.html" class="text-primary fw-bold">Dwayne "The Rock" Johnson</a>
                              </td>
                              <td>$9.07</td>
                              <td class="fw-bold">5</td>
                              <td>ROCK</td>
                            </tr>
                          </tbody>
                        </table>

                      </div>

                    </div>
                  </div><!-- End Top Selling -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Creator Capital</span></strong>. All Rights Reserved
    </div>
    <div class="credits">

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/chart.js/chart.umd.js"></script>
  <script src="../static/vendor/echarts/echarts.min.js"></script>
  <script src="../static/vendor/quill/quill.min.js"></script>
  <script src="../static/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../static/vendor/tinymce/tinymce.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>